---
name: Gpytranslate CI

on:
  push:
    branches: [ "dev", "master" ]
  pull_request:
    branches: [ "dev", "master" ]

jobs:
  tests:
    name: "Python ${{ matrix.version }} compatibility"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        version: [ "3.7", "3.8", "3.9", "3.10", "3.11" ]

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "${{ matrix.version }}"
      - name: "Install Gpytranslate"
        run: python setup.py install
      - name: "Install pytest"
        run: python -m pip install pytest-asyncio
      - name: "Run tests"
        run: python -m pytest tests
